body{
    padding-top:10% !important;
    background-color: rgba(217, 178, 178, 0.123);
}

.container{
    margin: 0px auto !important;
}


.info{
    background-color:rgb(169, 43, 43);
    text-align: center;
    color: white;
}
.authent{
    background: brown;
}
.ins_ad{
    padding: 0px auto;
}
.logo{
    margin-top: 20%;
}
.logo img{
    width: 50%;
    margin: 0px auto;
    display: block;
    justify-content: center;
}
.formula{
    padding: 10% 2%;
}
.add{
    padding: 4.5% 2% !important;
}
.formula h3{
    margin-bottom:5% !important;
    color: brown;
}
form{
    text-align: center;
}
fieldset{
    width: 60%;
    margin: 0px auto;
    display: block;
    justify-content: center;
    text-align: center;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(156, 156, 156);
    background-color: rgba(255, 255, 255, 0);
    margin: 6% 0;
}
.btn{
    border-radius: 20px;
    margin: 4%;
}
.aut{
    box-shadow: 2px 3px 5px;
}