body{
    background: #F9F6F6;
    padding:10% 20%;
    overflow: scroll;
}
.corps{
    box-shadow: 1px 3px 5px;
    background-image: linear-gradient( rgb(252, 231, 231),rgb(239, 239, 239));
}
.nav ,.py-2{
    width: 100% !important;
    background-color: brown !important;
}
.logo{
    width: 100px;
    background-color: brown !important;
    height: ;
}

.conn{
    margin: 0px auto;
    display: flex;
    align-items: flex-end;
} 


.container{
    max-width: 100% !important;
    padding-left: var(--bs-gutter-x,0rem);
}
.row{
    margin-left: calc(var(--bs-gutter-x) * 0);
}

ul {
    padding-inline-start: 0px !important;
}
ul li{
    list-style-type: none !important;
    display: flex;
    align-items: center;
}

.col-12 a{
    text-decoration: none;
}
.col-2 li{
    margin: 15% 0;
    text-align: center;
}

.col-8 li{
    margin: 10%;
    padding: 1% 0;
}

.icon{
    color: rgb(255, 255, 255);
    width: 20px !important;
}
